{% extends 'base.html.twig' %}

{% block title %}Hello PokemonController!{% endblock %}

{% block body %}


<div style="padding-left: 150px;padding-right: 150px;padding-top: 50px;padding-bottom: 50px;">
    <form id="pokemonForm">
        <div class="form-group">
            <label for="name">Nom</label>
            <input class="form-control" id="name" placeholder="Enter name" required>
        </div>
        <div class="form-group">
            <label for="type">Type</label>
            <input class="form-control" id="type" placeholder="Enter type">
        </div>
        <div class="form-group">
            <label for="type2">Type2</label>
            <input class="form-control" id="type2" placeholder="Enter type2">
        </div>
            <div class="form-group">
            <label for="region">region</label>
            <input class="form-control" id="region" placeholder="Enter region">
        </div>
        <div class="form-group">
            <label for="idPokedex">ID Pokedex</label>
            <input class="form-control" id="idPokedex" required placeholder="Enter ID Pokedex">
        </div>
        <div class="form-group">
            <label for="image">Image URL</label>
            <input class="form-control" id="image" placeholder="Enter image URL">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
<div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("pokemonForm").addEventListener("submit", function (event) {
            event.preventDefault();

            function removeLeadingZeros(str) {
                return str.replace(/^0+/, '');
            }

            var name = document.getElementById("name").value || '-';
            var type = document.getElementById("type").value || '-';
            var region = document.getElementById("region").value || '-';
            var type2 = document.getElementById("type2").value || '-';
            var idPokedex = document.getElementById("idPokedex").value || '-';
            var image = document.getElementById("image").value || '-';
            var idNat = parseInt(removeLeadingZeros(idPokedex));
            var newPokemon = {
                name: name,
                type: type,
                type2: type2,
                idPokedex: idPokedex,
                image: image,
                idNat: idNat,
                region: region
            };

            fetch('http://127.0.0.1:8000/api/pokema', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/ld+json', 
                },
                body: JSON.stringify(newPokemon),
            })
            .then(response => response.json())
            .then(data => {
                window.location.href = "{{ path('pokemon_list') }}";
            })
            .catch(error => console.error('Error creating Pokemon:', error));
        });
    });
</script>

{% endblock %}